.container{
    width: 70%;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    position: relative;
}
h2, p{
	color: white;
	text-align: center;
}
p{
	text-align: justify-all;
}
 header{
 	border: 5px solid white;
}
header{
	height: 80px;
	background-color: skyblue;
}

.box1{
	text-align: center;
	background-color: mediumpurple;
	color: white;
	width: 30%;
	height: 200px;
}
.box2{
	text-align: center;
	background-color: gold;
	color: white;
}
.box3{
	text-align: center;
	background-color: mediumpurple;
	color: white;
}
.box4{
	text-align: center;
	background-color: mediumpurple;
	color: white;
}
.box5{
	text-align: center;
	background-color: mediumpurple;
	color: white;
}
.box6{
	text-align: center;
	background-color: mediumpurple;
	color: white;
}
footer{
	text-align: center;
	background-color: mediumpurple;
	color: white;



